# Prova 2023.2 (Python para Análise de Dados)
***

## Questão 1

### (a) Quadrado
Faça uma função chamada `quadrado` que recebe um número inteiro $n$ e retorne um conjunto de $n^2$ pontos organizados na forma de um quadrado.

Por exemplo, `quadrado(4)` deverá retornar um conjunto de 16 pontos, organizados em um quadrado, assim:

![image.png]()

. . . .
. . . .
. . . .
. . . .

### (b) Duplo fatorial

O duplo fatorial de um número $n$ é o produto de todos os números entre $1$ e $n$ que tenham a mesma paridade de $n$.

O duplo fatorial de 5, por exemplo, é o produto de todos os números _ímpares_ até 5:

$$
1 \times 3 \times 5 = 15
$$

Já o duplo fatorial de 6 é o produto de todos os números _pares_ até 6:

$$
2 \times 4 \times 6 = 48
$$

Crie uma função chamada _duplo_fatorial_ que receba um número $n$ e retorne o seu duplo fatorial.

(15, 48)

## Questão 2

No link abaixo, você encontra uma base de dados com informações sobre todos os municípios do Brasil.

In [ ]:
url = "https://raw.githubusercontent.com/mapaslivres/municipios-br/main/tabelas/municipios.csv"


### (a)

Importe a base e mostre uma tupla contendo quantas linhas e colunas a base possui.

Em seguida, mostre 5 linhas aleatórias da base.

(5570, 18)

### (b)

Neste exercício, vamos utilizar apenas as colunas `municipio`, `name`,`uf_code`, `lat` e `pop_21`.

* Selecione apenas essas variáveis
* Coloque `municipio` para ser o índice do dataframe
* Altere o nome da coluna `name` para `nome` e `uf_code` para `uf`

### (c)

No Brasil, a maior parte dos municípios estão no hemisfério Sul e, por isso, têm latitude negativa. Mas o Brasil também tem cidades no hemisféio Norte, cuja latitude é positiva.

Crie um dataframe contendo apenas as cidades brasileiras que estão no hemisfério Norte. Ordene esse dataframe da cidade mais ao Norte para a cidade mais próxima ao Equador.

Mostre as 5 cidades mais ao Norte do Brasil.  
Mostra também as 5 cidades mais ao Sul, dentre as que estão no hemisfério Norte.  
Por fim, mostre quantas cidades o Brasil possui no hemisfério Norte.

### (d)

Quantos municípios o Brasil possui no hemisfério Norte?  
Como essas cidades se distribuem em cada estado?
(Ignore os estados que nao possuem nenhum município no hemisfério Norte)

### (e)

Qual a população total de cada estado, vivendo em municípios do hemisfério Norte? (Ignore os estados que não possuem nenhum município no hemisfério Norte)

## Questão 3

Rode este código:

In [ ]:
import requests

infos = requests.get(f"https://swapi.dev/api/people/?page=1").json()["results"]

A variável `infos` contém uma lista de dicionários. Cada dicionário contém as informações sobre uma personagem da saga Guerra nas Estrelas.

### (a)

Mostre os 3 primeiros elementos desta lista, para visualizar o que foi dito acima.

10

### (b)

Crie uma função chamada `conta_filmes` que recebe uma posição da lista e retorna em quantos filmes a personagem que está naquela posição já apareceu. A lista contida na variável `infos` deve ser passada para esta função por default.

Por exemplo, Luke Skywalker está na posição 0 e aparece em 4 filmes. Portanto, `conta_filmes(0)` deve retornar 4.

In [ ]:
conta_filmes(1)

6

## Questão 4

Importe a base de dados contida no link acima e mostre suas 5 primeiras linhas.

In [ ]:
url = "https://raw.githubusercontent.com/PacktPublishing/Principles-of-Strategic-Data-Science/main/Datasaurus_data.csv"

Calcule média e desvio-padrão tanto do X quanto do Y.   
Calcule também a correlação entre eles.  
Finalmente, faça um gráfico de dispersão do Y em função do X.