### Pandas

Importe o pacote `pandas`. Chame-o de `pd`.

In [1]:
import pandas as pd

## Milionários

O link abaixo contém um csv com dados sobre milionários.

1. Importe o csv como um dataframe chamado `milionarios`. Quantas linhas e colunas tem esse dataframe?

In [2]:
url = 'https://corgis-edu.github.io/corgis/datasets/csv/billionaires/billionaires.csv'

In [7]:
milionarios = pd.read_csv(url)

In [9]:
df = pd.DataFrame(milionarios)
print(df.shape)

(2614, 22)

2. Mostre seus primeiros 5 elementos.

In [10]:
print(df.head(5))

             name  rank  year  company.founded        company.name  \
0      Bill Gates     1  1996             1975           Microsoft
1      Bill Gates     1  2001             1975           Microsoft
2      Bill Gates     1  2014             1975           Microsoft
3  Warren Buffett     2  1996             1962  Berkshire Hathaway
4  Warren Buffett     2  2001             1962  Berkshire Hathaway

  company.relationship company.sector company.type  demographics.age  \
0              founder       Software          new                40
1              founder       Software          new                45
2              founder       Software          new                58
3              founder        Finance          new                65
4              founder        Finance          new                70

  demographics.gender  ...  location.gdp location.region          wealth.type  \
0                male  ...  8.100000e+12   North America  founder non-finance
1                male  ...  1.060000e+13   North America  founder non-finance
2                male  ...  0.000000e+00   North America  founder non-finance
3                male  ...  8.100000e+12   North America  founder non-finance
4                male  ...  1.060000e+13   North America  founder non-finance

  wealth.worth in billions wealth.how.category  wealth.how.from emerging  \
0                     18.5         New Sectors                      True
1                     58.7         New Sectors                      True
2                     76.0         New Sectors                      True
3                     15.0      Traded Sectors                      True
4                     32.3      Traded Sectors                      True

   wealth.how.industry  wealth.how.inherited wealth.how.was founder  \
0  Technology-Computer         not inherited                   True
1  Technology-Computer         not inherited                   True
2  Technology-Computer         not inherited                   True
3             Consumer         not inherited                   True
4             Consumer         not inherited                   True

  wealth.how.was political
0                     True
1                     True
2                     True
3                     True
4                     True

[5 rows x 22 columns]

2. Mostre 5 linhas aleatórias do dataframe

In [11]:
df.sample(5)

,name,rank,year,company.founded,company.name,company.relationship,company.sector,company.type,demographics.age,demographics.gender,...,location.gdp,location.region,wealth.type,wealth.worth in billions,wealth.how.category,wealth.how.from emerging,wealth.how.industry,wealth.how.inherited,wealth.how.was founder,wealth.how.was political
2535,An Kang,1565,2014,1992,Hualan Biological Engineering,founder,pharmaceuticals,new,65,male,...,0.000000e+00,East Asia,founder non-finance,1.0,New Sectors,True,Technology-Medical,not inherited,True,True
904,Robert Rowling,295,2014,1980,Tana Exploration Company,relation,oil,new,60,male,...,0.000000e+00,North America,self-made finance,4.9,Financial,True,Diversified financial,not inherited,True,True
684,Moores family,227,1996,1932,Littlewoods,NaN,retail,new,0,NaN,...,1.310000e+12,Europe,inherited,1.8,Non-Traded Sectors,True,"Retail, Restaurant",father,True,True
1897,Dulce Pugliese de Godoy Bueno,931,2014,1972,Amil,founder,healthcare management,new,66,female,...,0.000000e+00,Latin America,founder non-finance,1.9,Financial,True,Real Estate,not inherited,True,True
1263,Daniel Ziff,419,1996,1927,Ziff Davis Inc,relation,publishing,new,24,male,...,8.100000e+12,North America,inherited,1.0,Financial,True,Hedge funds,3rd generation,True,True

3. Mostre um dataframe contendo apenas os dados do Bill Gates.

In [17]:
filtro = df.loc[df['name'] == 'Bill Gates']
print(filtro)

         name  rank  year  company.founded company.name company.relationship  \
0  Bill Gates     1  1996             1975    Microsoft              founder
1  Bill Gates     1  2001             1975    Microsoft              founder
2  Bill Gates     1  2014             1975    Microsoft              founder

  company.sector company.type  demographics.age demographics.gender  ...  \
0       Software          new                40                male  ...
1       Software          new                45                male  ...
2       Software          new                58                male  ...

   location.gdp location.region          wealth.type wealth.worth in billions  \
0  8.100000e+12   North America  founder non-finance                     18.5
1  1.060000e+13   North America  founder non-finance                     58.7
2  0.000000e+00   North America  founder non-finance                     76.0

  wealth.how.category  wealth.how.from emerging  wealth.how.industry  \
0         New Sectors                      True  Technology-Computer
1         New Sectors                      True  Technology-Computer
2         New Sectors                      True  Technology-Computer

   wealth.how.inherited wealth.how.was founder wealth.how.was political
0         not inherited                   True                     True
1         not inherited                   True                     True
2         not inherited                   True                     True

[3 rows x 22 columns]

4. Qual é o ano mais recente da base? Crie um dataframe chamado `milionarios_2014` onde você filtra apenas as linhas referentes àquele ano. Mostre as 5 primeiras linhas desse dataframe.

Nós usaremos este dataframe daqui para frente.

In [18]:
milionarios_2014 = df.loc[df['year']==2014]
print(milionarios_2014)

                  name  rank  year  company.founded  \
2           Bill Gates     1  2014             1975
5     Carlos Slim Helu     2  2014             1990
8       Amancio Ortega     3  2014             1975
11      Warren Buffett     4  2014             1839
14       Larry Ellison     5  2014             1977
...                ...   ...   ...              ...
2609       Wu Chung-Yi  1565  2014             1991
2610          Wu Xiong  1565  2014             1999
2611         Yang Keng  1565  2014                0
2612     Zdenek Bakala  1565  2014             1994
2613       Zhu Wenchen  1565  2014             1999

                         company.name company.relationship  \
2                           Microsoft              founder
5                              Telmex              founder
8                                Zara              founder
11                 Berkshire Hathaway              founder
14                             Oracle              founder
...                               ...                  ...
2609                           Tingyi             investor
2610  Biostime International Holdings                owner
2611                    Blue Ray Corp             chairman
2612                   Patria Finance              founder
2613       Furen Pharmaceutical Group             chairman

          company.sector   company.type  demographics.age demographics.gender  \
2               Software            new                58                male
5         Communications  privatization                74                male
8                Fashion            new                77                male
11               Finance        aquired                83                male
14              software            new                69                male
...                  ...            ...               ...                 ...
2609  beverages and food            new                55                male
2610      infant formula            new                 0                male
2611         real estate            new                53                male
2612                coal            new                53                male
2613     pharmaceuticals            new                48                male

      ... location.gdp location.region               wealth.type  \
2     ...          0.0   North America       founder non-finance
5     ...          0.0   Latin America  privatized and resources
8     ...          0.0          Europe       founder non-finance
11    ...          0.0   North America       founder non-finance
14    ...          0.0   North America       founder non-finance
...   ...          ...             ...                       ...
2609  ...          0.0       East Asia                 executive
2610  ...          0.0       East Asia                 executive
2611  ...          0.0       East Asia         self-made finance
2612  ...          0.0          Europe  privatized and resources
2613  ...          0.0       East Asia                 executive

     wealth.worth in billions wealth.how.category  wealth.how.from emerging  \
2                        76.0         New Sectors                      True
5                        72.0  Non-Traded Sectors                      True
8                        64.0  Non-Traded Sectors                      True
11                       58.2      Traded Sectors                      True
14                       48.0         New Sectors                      True
...                       ...                 ...                       ...
2609                      1.0      Traded Sectors                      True
2610                      1.0      Traded Sectors                      True
2611                      1.0           Financial                      True
2612                      1.0    Resource Related                      True
2613                      1.0         New Sectors                      True

          wealth.how.industry  wealth.how.inherited wealth.how.was founder  \
2         Technology-Computer         not inherited                   True
5                       Media         not inherited                   True
8          Retail, Restaurant         not inherited                   True
11                   Consumer         not inherited                   True
14        Technology-Computer         not inherited                   True
...                       ...                   ...                    ...
2609  Non-consumer industrial         not inherited                   True
2610                 Consumer         not inherited                   True
2611              Real Estate         not inherited                   True
2612        Mining and metals         not inherited                   True
2613       Technology-Medical         not inherited                   True

     wealth.how.was political
2                        True
5                        True
8                        True
11                       True
14                       True
...                       ...
2609                     True
2610                     True
2611                     True
2612                     True
2613                     True

[1653 rows x 22 columns]

In [19]:
print(milionarios_2014.head(5))

                name  rank  year  company.founded        company.name  \
2         Bill Gates     1  2014             1975           Microsoft
5   Carlos Slim Helu     2  2014             1990              Telmex
8     Amancio Ortega     3  2014             1975                Zara
11    Warren Buffett     4  2014             1839  Berkshire Hathaway
14     Larry Ellison     5  2014             1977              Oracle

   company.relationship   company.sector   company.type  demographics.age  \
2               founder         Software            new                58
5               founder   Communications  privatization                74
8               founder          Fashion            new                77
11              founder          Finance        aquired                83
14              founder         software            new                69

   demographics.gender  ... location.gdp location.region  \
2                 male  ...          0.0   North America
5                 male  ...          0.0   Latin America
8                 male  ...          0.0          Europe
11                male  ...          0.0   North America
14                male  ...          0.0   North America

                 wealth.type wealth.worth in billions wealth.how.category  \
2        founder non-finance                     76.0         New Sectors
5   privatized and resources                     72.0  Non-Traded Sectors
8        founder non-finance                     64.0  Non-Traded Sectors
11       founder non-finance                     58.2      Traded Sectors
14       founder non-finance                     48.0         New Sectors

    wealth.how.from emerging  wealth.how.industry  wealth.how.inherited  \
2                       True  Technology-Computer         not inherited
5                       True                Media         not inherited
8                       True   Retail, Restaurant         not inherited
11                      True             Consumer         not inherited
14                      True  Technology-Computer         not inherited

   wealth.how.was founder wealth.how.was political
2                    True                     True
5                    True                     True
8                    True                     True
11                   True                     True
14                   True                     True

[5 rows x 22 columns]

5. A coluna `location.citizenship` identifica a cidadania do milionário. Liste os 5 países do mundo com mais milionários e o número de milionários em cada um desses países.

In [10]:
#Resposta

## Covid

Você já deve ter visto o [dashboard](https://coronavirus.jhu.edu/map.html) da universidade de John Hopkins mapeando o coronavirus. Os dados que eles utilizam estão [aqui](https://github.com/CSSEGISandData/COVID-19). Vamos pegar uma das bases de dados que eles utilizam. Esta:

In [11]:
link_covid = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

1. Importe a base de dados como um dataframe chamado `covid`

In [12]:
#Resposta

2. Mostre os primeiros 5 elementos desse dataframe

In [13]:
#Resposta

3. Quantos casos o Brasil tinha no dia 7 de Setembro de 2020?

Note que a base de dados é americana. Assim, Brasil se escreve "Brazil" e 7 de Setembro se escreve "9/7/20"

In [14]:
#Resposta

## Spotify

O link a seguir tem uma base da Spotify com dados sobre músicas disponíveis nesse aplicativo.

1. Importe a base como um dataframe chamado `Spotify`. Mostre as 5 primeiras linhas.

In [15]:
url = 'https://corgis-edu.github.io/corgis/datasets/csv/music/music.csv'

In [16]:
#Resposta

In [17]:
#Resposta

2. Essa base tem quantas linhas e quantas colunas?

In [18]:
#Resposta

3. Quais são as colunas dessa base?

In [19]:
#Resposta

4. Cada linha corresponde a uma música e o identificador dessa música é a variável `song.id`. Transforme essa variável em um índice da base spotify.

In [20]:
#Resposta

5. Crie um dataframe contendo as seguintes colunas:
    * O nome do artista (`artist.name`)
    * O ano da música (`song.year`)

Chame esse dataframe de `producao_do_artista`.

In [21]:
#Resposta

6. Quando o ano da autoria da música é desconhecido, ele aparece como zero. Crie um dataframe que contenha apenas as linhas onde o ano da música não é zero. Chame esse dataframe de `producao_do_artista`.

In [22]:
#Resposta

7. Use o comando `.groupby` e `.count()` para contar quantas músicas foram compostas em cada ano. Salve isso no dataframe `musicas_por_ano`.

In [23]:
#Resposta

8. Mude o nome da coluna de `musicas_por_ano` de `artist.name` para `numero_de_musicas`

In [24]:
#Resposta

Só de brincadeira, rode o comando abaixo e veja o que aparece:

In [25]:
musicas_por_ano.plot(figsize=(20,6),title='músicas por ano');